html {
    /*height: 100%;*/
}

body {
    background-image: url('../img/web-ready/back.jpg');
    margin: 0cm 3cm 3cm 1cm; /*top left down right */
}

.text {
    display: inline-block;
    width: 100%;
    right: center;
    position:relative;
    top: center;
    color : white;
    background: rgba(0, 0, 0, 0.7);
    border: 60cm 3cm 3cm 3cm;
    border-radius: 25px 25px 25px 25px;
    margin: 1cm 3cm 1cm 1cm;
}

.link {
    text-align: left;
    font-size: 15px;
    color : white;
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    width: 100%;
    right: center;
    justify-content: center;
    position:relative;
    top: center;
   /* margin: 0.4cm 4cm 0cm 4cm;*/ 
    border: 3cm 3cm 3cm 3cm;
    border-radius: 0px 0px 50px 50px;
    border: 3cm 3cm 3cm 3cm;
    padding-top: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.5cm;
}

.text_3 {
    margin: 0cm 0cm 2cm 0cm;
}

.text_1 {
    text-align: center;
    font-size: 15px;
    color : white;
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    width: 100%;
    right: center;
    justify-content: center;
    position:relative;
    top: center;
   /* margin: 0.4cm 4cm 0cm 4cm;*/ 
    border: 3cm 3cm 3cm 3cm;
    border-radius: 50px 50px 0px 0px;
    border: 3cm 3cm 3cm 3cm;
    padding-top: 0.5cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.5cm;
}
.text_2 {
    text-align: left;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.95);
    display:inline-block;
    width:100%;
    right: center;
    justify-content: left;
    position:relative;
    top: center;
    overflow-wrap:break-word;
    overflow-x: hidden;  
    /*margin: 0cm 4cm 0.4cm 4cm; 
    /*border: 3cm 3cm 3cm 3cm;*/
    border: 3cm 3cm 3cm 3cm;
    border-radius: 0px 0px 0px 0px;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
}
